<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Watchlist</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action=" {{ url_for('index') }} " method="POST">
        <label for="ticker">Enter a stock symbol:</label>
        <input type="text" name="ticker" id="ticker" required>
        <input type="submit" name="Add stock"></input>
    </form>

    {% if stocks %}
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Date/Time</th>
                    <th>Change</th>
                    <th>Change %</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Volume</th>
                    <th>Actions</th>
                    <th>News</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.ticker }}</td>
                        <td>{{ stock.price }}</td>
                        <td>{{ stock.datetime }}</td>
                        <td class="{{ 'positive' if stock.change > 0 else 'negative' if stock.change < 0 else ''  }}">{{ stock.change }}</td>
                        <td class="{{ 'positive' if stock.change_percent > 0 else 'negative' if stock.change_percent < 0 else ''  }}">{{ stock.change_percent }}</td>
                        <td>{{ stock.high }}</td>
                        <td>{{ stock.low }}</td>
                        <td>{{ stock.volume }}</td>
                        <td> <a href=" {{ url_for('remove', ticker=stock.ticker) }} ">Remove</a></td>
                        <td><a href="{{ url_for('load_news', ticker=stock.ticker) }}">Get News</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No stocks in watchlist</p>

    {% endif %}
    

    {% if news %}
        <div class="news-articles">
            <h2>Recent News :</h2>
            <ul>
                {% for article in news %}
                    <li>
                        <strong><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></strong><br>
                        <p>{{ article.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
</body>
</html>